@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  box-sizing: content-box;
}

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --color: #1F1F20;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  background-color: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( 
    180deg,
    #0000008c 0%,
    #0000008c 100%
    ),
    url(/img/computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  background-attachment: fixed;
}

nav {
  background-color: var(--color);
  height: 10vh;
}

.nav-logo {
  position: absolute;
  top: -12px;
} 

.menu-icons {
  position: absolute;
  /* hace que los iconos de menu pertenezcan al menu */  
  top: 1.6rem;
  right: 3em;
  cursor: pointer;
  z-index: 1;
  background-color: #555759;
  border-radius: 8px;
  height: 50px;
}

.menu-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color);
  transition: transform 0.3s;
  transform: translateY(-100%)
}

.menu-list--show{
  transform: translateY(0);
}

.menu-icon--hidden {
  display: none;
}

.menu-icon--show {
  display: flex;
}

.menu-item {
  padding: 1em;
}

.menu-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-img {
  width: 75%;
  padding-top: 200px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px){
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .nav-logo {
    
  } 

  .menu-icons {
    display: none;
  }
  
  .menu-list {
    flex-direction: row;
    background-color: none;
    transform: translateY(0);
    transition: transform 0s;
  }
  
}